.sheet{
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    width: 800px;
    h1{
        
    }

    .table{
    border: 2px black solid;
    margin: 0 auto;
    width: 70%;
    thead{
        border: 2px black solid;
        width: 100%;
        display: flex;
        tr{
            width: 100%;
            border: 2px black solid;
            display: flex;
            justify-content: center;
            th{
            flex: 1;
            }
        }
    }
    tbody{
        border: 2px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        tr{
            width: 100%;
          td{
            input{
                width: 100%;
                padding-left: 3px;
                border-radius: 5px;
            }
        }  
        }
        
    }
}
}

